@import "tailwindcss";

:root {
    --white: #fff;
    --black: #000;
    --primary: #17375E;
    --primary-opacity: #17375e48;
    --primary-light: #6F96D1;
    --primary-light-opacity: #6F96D148;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.phase {
    width: 100%;
    height: 100vh;
}

.half-phase {
    width: 100%;
    height: 50vh;
}