---
import LogoNubo from "../assets/icons/logo-nubo.svg";
---

<footer>
    <div class="container">
        <div class="logo">
            <img src={LogoNubo.src} alt="Logo Nubo" />
        </div>
        <div class="text">
            <h2 class="text-4xl">
                Descanso diseñado para reconectar con tu bienestar
            </h2>
            <p>
                Dormir bien es esencial para recuperar energía y cuidar tu
                cuerpo. Por eso diseñamos productos que se adaptan a tus
                necesidades, ayudándote a descansar mejor y despertar renovado.
            </p>
        </div>
    </div>
</footer>
<div class="container-links">
    <div class="rights">All rights reserved © Nubo</div>
    <div class="social">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 589.28 588.2"
            width="30"
            height="30"
        >
            <g id="YPEf4U.tif">
                <path
                    d="M589.28,290.7v5.99c-.26-.13-1.13.4-1.09,1.03.47,7.08-.05,13.71-.58,19.92-12.2,143.07-126.04,256.72-269.34,268.89-5.9.5-12.24,1.09-19.05.54-.97-.08-2.03.5-1.94,1.12h-6c-6.82-1.6-14.17-1.04-21-1.63C127,574.26,13.15,460.85.99,317.56c-1.32-15.54-1.32-32.18,0-47.75C14.59,109.37,154.83-10.02,313.7.66c145.36,9.77,261.52,124.53,273.94,269.08.58,6.79,0,14.17,1.63,20.96ZM154.23,118.1c-23.95,3.43-39.01,25.19-35.2,48.1,3.66,22.03,24.65,37.51,47.44,33.96,22.1-3.44,38.03-24.26,34.64-47.02-3.24-21.79-23.51-38.38-46.88-35.03ZM380.2,303.24c12.62,7.27,17.32,19.77,18.99,33.53l-.03,132.99,70.82.05.1-157.17c-5.47-34.42-20.73-61.58-54.01-74.77-40.12-15.9-85.9-2.89-112.4,30.76l-.7-33.15-66.28.35.02,233.92,70.57.12.11-127.17c1.55-14.06,6.02-27.63,17.57-36.33,15.53-11.69,38.11-12.97,55.23-3.11ZM196.3,469.6l-.02-233.88-72.56-.19v234.3s72.58-.23,72.58-.23Z"
                    fill="#fff"></path>
            </g>
        </svg>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 266 265.28"
            width="30"
            height="30"
        >
            <g id="rtZmtX.tif">
                <g>
                    <path
                        d="M266,75v115.57c-.89-1.08-1.05,5.55-2.09,11.19-5.8,31.47-30.08,55.67-61.67,61.45-5.66,1.04-12.32,1.19-11.24,2.08h-116c1.09-.88-5.59-1.05-11.24-2.08-31.58-5.77-55.86-29.99-61.67-61.44-1.05-5.7-1.18-12.25-2.09-11.19v-114.57C0,35.09,33.92,2.56,75.64,1.04c38.54-1.41,76.35-1.36,114.46-.01,43.01,1.52,71.94,33.49,75.9,73.97ZM192.45,240.27c28.46-.05,48.3-24.79,48.23-51.65l-.3-113.74c-.07-24.79-20.94-47.87-46.21-47.88h-122.32c-25.8,0-46.28,23.74-46.33,48.89l-.21,112.7c-.05,27.86,21,51.92,49.77,51.87l117.37-.19Z"
                        fill="#fff"></path>
                    <path
                        d="M122.05,66.04c38.3-6.13,72.97,19.96,78.73,56.98,5.77,37.11-19.73,72.13-57.24,77.95-36.81,5.72-71.73-19.04-78.11-55.87-6.38-36.84,18.18-72.92,56.62-79.07ZM124.93,90.11c-24.73,4.53-39.83,28.19-35.47,51.31,4.56,24.21,27.67,39.77,51.78,35.32,23.57-4.35,39.59-27.2,35.42-50.72-4.22-23.83-26.69-40.5-51.73-35.92Z"
                        fill="#fff"></path>
                    <path
                        d="M200.06,47.1c9.23-2.2,17.4,3.62,19.25,11.72,2,8.76-3.08,17.41-12.02,19.37-8.29,1.82-16.74-2.83-19.03-11.5-2.1-7.95,2.36-17.34,11.8-19.59Z"
                        fill="#fff"></path>
                </g>
            </g>
        </svg>
    </div>
    <div class="links">
        <a href="#">Productos</a>
        <a href="#">Sobre Nubo</a>
        <a href="#">Contacto</a>
    </div>
</div>

<style>
    footer {
        //background-color: #003880;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
    }

    .container {
        width: 100%;
        max-width: 1920px;
        display: flex;
        justify-content: center;
        color: var(--primary);
        justify-content: space-between;
        padding: 4rem;
        align-items: center;
    }

    .text {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .logo {
    }

    .logo img {
        margin: auto;
        width: 300px;
    }
    .container-links {
        background-color: var(--primary);
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 4rem;
    }

    .links,
    .social {
        display: flex;
        gap: 2rem;
        font-weight: 100;
    }
</style>
